[Bb]in/
[Oo]bj/
CodeCakeBuilder/[Rr]elease/
CodeCakeBuilder/[Rr]eleases/
.vs/
*.suo
*.user
CodeCakeBuilder/UnitTestsDone.*.txt
$StObjGen/
Tests/**/TestResult*.xml
Tests/**/*.trx
CodeCakeBuilder/MemoryKey.*.txt
Tests/**/Logs/
Tests/**/CKSetup-WorkingDir/
